In [1]:
ls -l

total 2801
-rwxrwxrwx 1 jovyan staff   40478 Jun  1 05:55 01-Introduction-to-Apache-Spark.ipynb*
-rwxrwxrwx 1 jovyan staff 2826082 Jun  1 05:55 diamonds.csv*
-rwxrwxrwx 1 jovyan staff     199 Jun  1 05:55 docker-compose.yml*
-rwxrwxrwx 1 jovyan staff      72 Jun  4 00:05 Untitled.ipynb*

In [2]:
pwd

'/home/jovyan'

In [7]:
from pyspark import SparkContext, SQLContext

In [4]:
sc = SparkContext()

The history saving thread hit an unexpected error (OperationalError('disk I/O error',)).History will not be written to the database.

In [5]:
sqlcontext = SQLContext(sc)

In [8]:
firstDataFrame = sqlcontext.range(1000000)

In [69]:
firstDataFrame

DataFrame[id: bigint]

In [70]:
firstDataFrame.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [11]:
import pandas as pd

In [72]:
secondDataFrame = firstDataFrame.selectExpr("(id * 2) as value")
secondDataFrame

DataFrame[value: bigint]

In [17]:
firstDataFrame.take(5)

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

In [18]:
secondDataFrame.take(50)

[Row(value=0),
 Row(value=2),
 Row(value=4),
 Row(value=6),
 Row(value=8),
 Row(value=10),
 Row(value=12),
 Row(value=14),
 Row(value=16),
 Row(value=18),
 Row(value=20),
 Row(value=22),
 Row(value=24),
 Row(value=26),
 Row(value=28),
 Row(value=30),
 Row(value=32),
 Row(value=34),
 Row(value=36),
 Row(value=38),
 Row(value=40),
 Row(value=42),
 Row(value=44),
 Row(value=46),
 Row(value=48),
 Row(value=50),
 Row(value=52),
 Row(value=54),
 Row(value=56),
 Row(value=58),
 Row(value=60),
 Row(value=62),
 Row(value=64),
 Row(value=66),
 Row(value=68),
 Row(value=70),
 Row(value=72),
 Row(value=74),
 Row(value=76),
 Row(value=78),
 Row(value=80),
 Row(value=82),
 Row(value=84),
 Row(value=86),
 Row(value=88),
 Row(value=90),
 Row(value=92),
 Row(value=94),
 Row(value=96),
 Row(value=98)]

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = (SparkSession.builder.appName("Python Spark SQL introudciton").getOrCreate())

In [55]:
dataPath = "diamonds.csv"

In [56]:
diamonds = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(dataPath)

In [57]:
diamonds.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [33]:
diamonds.select(diamonds["carat"], diamonds["depth"]).show()

+-----+-----+
|carat|depth|
+-----+-----+
| 0.23| 61.5|
| 0.21| 59.8|
| 0.23| 56.9|
| 0.29| 62.4|
| 0.31| 63.3|
| 0.24| 62.8|
| 0.24| 62.3|
| 0.26| 61.9|
| 0.22| 65.1|
| 0.23| 59.4|
|  0.3|   64|
| 0.23| 62.8|
| 0.22| 60.4|
| 0.31| 62.2|
|  0.2| 60.2|
| 0.32| 60.9|
|  0.3|   62|
|  0.3| 63.4|
|  0.3| 63.8|
|  0.3| 62.7|
+-----+-----+
only showing top 20 rows

In [38]:
diamonds.select(diamonds["x"], diamonds["y"], diamonds["z"]).show()

+----+----+----+
|   x|   y|   z|
+----+----+----+
|3.95|3.98|2.43|
|3.89|3.84|2.31|
|4.05|4.07|2.31|
| 4.2|4.23|2.63|
|4.34|4.35|2.75|
|3.94|3.96|2.48|
|3.95|3.98|2.47|
|4.07|4.11|2.53|
|3.87|3.78|2.49|
|   4|4.05|2.39|
|4.25|4.28|2.73|
|3.93| 3.9|2.46|
|3.88|3.84|2.33|
|4.35|4.37|2.71|
|3.79|3.75|2.27|
|4.38|4.42|2.68|
|4.31|4.34|2.68|
|4.23|4.29| 2.7|
|4.23|4.26|2.71|
|4.21|4.27|2.66|
+----+----+----+
only showing top 20 rows

In [40]:
diamonds.select(diamonds["carat"] > 1.0)

DataFrame[(carat > 1.0): boolean]

In [41]:
diamonds.select(diamonds["carat"] > 1.0).show()

+-------------+
|(carat > 1.0)|
+-------------+
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
|        false|
+-------------+
only showing top 20 rows

In [42]:
diamonds.select(diamonds["carat"] > 1.0).count()

53940

In [43]:
carot_gt_1 = diamonds.filter(diamonds["carat"] > 1.0)

In [45]:
carot_gt_1.show()

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 1.17|Very Good|    J|     I1| 60.2|   61| 2774|6.83| 6.9|4.13|
| 1.01|  Premium|    F|     I1| 61.8|   60| 2781|6.39|6.36|3.94|
| 1.01|     Fair|    E|     I1| 64.5|   58| 2788|6.29|6.21|4.03|
| 1.01|  Premium|    H|    SI2| 62.7|   59| 2788|6.31|6.22|3.93|
| 1.05|Very Good|    J|    SI2| 63.2|   56| 2789|6.49|6.45|4.09|
| 1.05|     Fair|    J|    SI2| 65.8|   59| 2789|6.41|6.27|4.18|
| 1.01|     Fair|    E|    SI2| 67.4|   60| 2797|6.19|6.05|4.13|
| 1.04|  Premium|    G|     I1| 62.2|   58| 2801|6.46|6.41|   4|
|  1.2|     Fair|    F|     I1| 64.6|   56| 2809|6.73|6.66|4.33|
| 1.02|  Premium|    G|     I1| 60.3|   58| 2815|6.55| 6.5|3.94|
| 1.17|  Premium|    J|     I1| 60.2|   61| 2825| 6.9|6.83|4.13|
| 1.01|  Premium|    H|    SI2| 61.6|   61| 2828|6.39|6.31|3.91|
| 1.01|    Ideal|    I|     I1| 61.5|   57| 2844|6.45|6.46|3.97|
| 1.01|     Good|    I|     I1| 63.1|   57| 2844|6.35|6.39|4.02|
| 1.27|  Premium|    H|    SI2| 59.3|   61| 2845|7.12|7.05| 4.2|
| 1.01|     Fair|    H|    SI2| 65.4|   59| 2846| 6.3|6.26|4.11|
| 1.01|     Good|    H|     I1| 64.2|   61| 2846|6.25|6.18|3.99|
|  1.2|Very Good|    H|     I1| 63.1|   60| 2850|6.75|6.67|4.23|
| 1.12|  Premium|    H|     I1| 59.1|   61| 2854|6.78|6.75|   4|
| 1.03|     Good|    J|    SI1| 63.6|   57| 2855|6.38|6.29|4.03|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [59]:
df1 = diamonds.groupBy("cut", "color").avg("price")
df1.show()

+---------+-----+------------------+
|      cut|color|        avg(price)|
+---------+-----+------------------+
|Very Good|    D|3470.4672835426304|
|  Premium|    E|3538.9144201968334|
|    Ideal|    D|2629.0945659844742|
|     Good|    F|3495.7502750275025|
|  Premium|    D| 3631.292576419214|
|    Ideal|    J| 4918.186383928572|
|    Ideal|    I| 4451.970377448638|
|Very Good|    I| 5255.879568106312|
|     Good|    D|3405.3821752265862|
|     Fair|    D| 4291.061349693252|
|     Good|    G| 4123.482204362801|
|     Good|    H| 4276.254985754986|
|  Premium|    J| 6294.591584158416|
|     Fair|    F| 3827.003205128205|
|    Ideal|    G| 3720.706388206388|
|Very Good|    H| 4535.390350877193|
|Very Good|    E|3214.6520833333334|
|     Good|    I| 5078.532567049809|
|  Premium|    F| 4324.890175890176|
|     Fair|    J| 4975.655462184874|
+---------+-----+------------------+
only showing top 20 rows

In [74]:
df2 = df1.join(diamonds, on = "color", how = "inner")
df2.show()

+-----+---------+------------------+-----+-------+-------+-----+-----+-----+----+----+----+
|color|      cut|        avg(price)|carat|    cut|clarity|depth|table|price|   x|   y|   z|
+-----+---------+------------------+-----+-------+-------+-----+-----+-----+----+----+----+
|    E|     Fair|         3682.3125| 0.23|  Ideal|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|    E|     Good|3423.6441586280816| 0.23|  Ideal|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|    E|    Ideal|2597.5500896746094| 0.23|  Ideal|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|    E|Very Good|3214.6520833333334| 0.23|  Ideal|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|    E|  Premium|3538.9144201968334| 0.23|  Ideal|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|    E|     Fair|         3682.3125| 0.21|Premium|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|    E|     Good|3423.6441586280816| 0.21|Premium|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|    E|    Ideal|2597.5500896746094| 0.21|Premium|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|    E|Very Good|3214.6520833333334| 0.21|Premium|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|    E|  Premium|3538.9144201968334| 0.21|Premium|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|    E|     Fair|         3682.3125| 0.23|   Good|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|    E|     Good|3423.6441586280816| 0.23|   Good|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|    E|    Ideal|2597.5500896746094| 0.23|   Good|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|    E|Very Good|3214.6520833333334| 0.23|   Good|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|    E|  Premium|3538.9144201968334| 0.23|   Good|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|    I|     Fair|4685.4457142857145| 0.29|Premium|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|    I|  Premium| 5946.180672268908| 0.29|Premium|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|    I|     Good| 5078.532567049809| 0.29|Premium|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|    I|Very Good| 5255.879568106312| 0.29|Premium|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|    I|    Ideal| 4451.970377448638| 0.29|Premium|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
+-----+---------+------------------+-----+-------+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [75]:
df2 = df1.join(diamonds, on = "color", how = "inner").select("avg(price)", "carat")
df2.show()

+------------------+-----+
|        avg(price)|carat|
+------------------+-----+
|3470.4672835426304| 0.75|
|3470.4672835426304|  0.7|
|3470.4672835426304| 0.72|
|3470.4672835426304| 0.72|
|3470.4672835426304| 0.72|
|3470.4672835426304|  0.7|
|3470.4672835426304| 0.74|
|3470.4672835426304| 0.65|
|3470.4672835426304|  0.7|
|3470.4672835426304| 0.81|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.71|
|3470.4672835426304| 0.53|
|3470.4672835426304| 0.51|
|3470.4672835426304| 0.51|
|3470.4672835426304| 0.56|
+------------------+-----+
only showing top 20 rows

In [63]:
df2.explain()

== Physical Plan ==
*(3) Project [avg(price)#370, carat#438]
+- *(3) BroadcastHashJoin [color#284], [color#440], Inner, BuildRight
   :- *(3) HashAggregate(keys=[cut#283, color#284], functions=[avg(cast(price#288 as bigint))])
   :  +- Exchange hashpartitioning(cut#283, color#284, 200)
   :     +- *(1) HashAggregate(keys=[cut#283, color#284], functions=[partial_avg(cast(price#288 as bigint))])
   :        +- *(1) Project [cut#283, color#284, price#288]
   :           +- *(1) Filter isnotnull(color#284)
   :              +- *(1) FileScan csv [cut#283,color#284,price#288] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/diamonds.csv], PartitionFilters: [], PushedFilters: [IsNotNull(color)], ReadSchema: struct<cut:string,color:string,price:int>
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[1, string, true]))
      +- *(2) Project [carat#438, color#440]
         +- *(2) Filter isnotnull(color#440)
            +- *(2) FileScan csv [carat#438,color#440] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/diamonds.csv], PartitionFilters: [], PushedFilters: [IsNotNull(color)], ReadSchema: struct<carat:double,color:string>

In [64]:
df2.count()

269700

In [65]:
df2.cache()

DataFrame[avg(price): double, carat: double]

In [66]:
df2.count()

269700

In [67]:
df2.count()

269700