In Bash:

ssh-keygen
ls ~/.ssh
cat ~/.ssh/id_rsa.pub
<br>
<br>
<br>
In AWS:

create key pairs and security groups. Launch Instance
<br>
<br>
<br>
In Bash:

ssh ubuntu@13.58.17.40

curl -sSL https://get.docker.com | sh

sudo usermod-aG docker ubuntu

docker pull jupyter/datascience-notebook

docker images

docker tag image_id# dsnb(new name)

docker run -v -d /home/ubuntu:/home/jovyan -p 88(AWSport):8888(jupyterport) dsnb(image name)

docker exec container_id# jupyter notebook list (get token id)
<br>
<br>
<br>
Postgres:

docker pull postgres

docker image

docker volume create pgdata 

docker volume ls

docker run -v -d pgdata:/var/lib/postgresql/data postgres(image name)

docker ps

docker exec -it container_id# bash

psql postgres postgres

mkdir bc

cd bc

touch Dockerfile

touch get_data.sh

touch initdb.sql

docker build -t pgbc(name of new image) .

docker run -it -d pgbc

docker exec -it pgbc_container_id# bash

psql postgres postgres

docker stop pgbc container_id#

docker run -d -p 5432:5432(Postgres port) pgbc(image name)

In [21]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/conda/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import psycopg2

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
connection = psycopg2.connect(host = "13.58.17.40", user = "postgres", database = "postgres") #similar to psql postgres postgres
cursor=connection.cursor()
cursor.execute("SELECT * FROM bc_data limit 5;")
results = cursor.fetchall()
connection.close()

In [9]:
results

[(1000025, 5, 1, 1, 1, 2, 1, 3, 1, 1, 2),
 (1002945, 5, 4, 4, 5, 7, 10, 3, 2, 1, 2),
 (1015425, 3, 1, 1, 1, 2, 2, 3, 1, 1, 2),
 (1016277, 6, 8, 8, 1, 3, 4, 3, 7, 1, 2),
 (1017023, 4, 1, 1, 3, 2, 1, 3, 1, 1, 2)]

In [10]:
from psycopg2.extras import RealDictCursor

In [13]:
import psycopg2
from psycopg2.extras import RealDictCursor

connection = psycopg2.connect(host='13.58.17.40',
                              user='postgres',
                              database='postgres')
cursor = connection.cursor(cursor_factory=RealDictCursor)#create it into a dictionary.
#cursor.execute("SELECT * FROM bc_data WHERE bare_nuclei >= 10")
cursor.execute("SELECT * FROM bc_data limit 5;")
results = cursor.fetchall()
connection.close()

import pandas as pd

pd.DataFrame(results)

,bare_nuclei,bland_chromatin,class,clump_thickness,marginal_adhesion,mitoses,normal_nucleoli,sample_id,single_epithelial_cell_size,uniformity_of_cell_shape,uniformity_of_cell_size
0,1,3,2,5,1,1,1,1000025,2,1,1
1,10,3,2,5,5,1,2,1002945,7,4,4
2,2,3,2,3,1,1,1,1015425,2,1,1
3,4,3,2,6,1,1,7,1016277,3,8,8
4,1,3,2,4,3,1,1,1017023,2,1,1